@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.err-container img{
    width: 800px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
