<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Results</title>
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/surveyresults.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <!--! ------------------RIBBON-------------------- -->
    <div class="ribbon">Free shipping available on all prepaid orders more than 10$ </div>

    <!--! ------------------NAVBAR-------------------- -->
    <div class="navbar-container">
        <div class="nav-left">
            <div class="ham-container">
                <img src="assets/menu.svg" alt="ham-menu">
            </div>
            <div class="search-container">
                <img src="assets/search.svg" alt="search">
            </div>
        </div>
        <div class="logo-container">
            <a href="/">
                <img class="nav-logo" src="assets/Group 3.png" alt="boxedfashion">
            </a>
        </div>
        <div class="nav-right">
            <div class="userprofile-container">
                <a href="/login">
                    <img src="assets/userprofile.svg" alt="profile">
                </a>
            </div>
            <div class="shoppingcart-container">
                <img src="assets/cart.png" alt="cart">
            </div>
        </div>
    </div>
    <h1 class="results-heading">Survey Results</h1>
    <div class="resultsbuttons">
        <button class="results-buttons" onClick="history.back();">Back to quiz</button>
        <button class="results-buttons" onClick="window.location.reload();">Get Another Recommendation</button>
    </div>
    <div class="results-container">
        <% cards.forEach(function(card) { %>
            <div class="card">
                <img src="<%= card.images %>" alt="Card Image" class="card-image">
                <div class="card-content">
                    <h3><%= card.name %></h3>
                    <p><%= card.description %></p>
                </div>
            </div>
            
        <% }); %>
    </div>
    <div class="resultsbuttons">
        <button class="results-buttons">Save to virtual closet</button>
        <button class="results-buttons">Add to Queue</button>
        <button class="results-buttons" onclick="window.location.href = 'catalogue';">Browse catalogue</button>
    </div>

    <!-- !--------------------FOOTER------------------- -->
    <div class="footer-container">
        <div class="footer-left">
            <div class="logocp-container">
                <img src="assets/logo_cpright.png" alt="logo-copyright">
            </div>
            <div class="footer-links">
                <img src="assets/icons8-github.svg" alt="icons8-github">
                <img src="assets/icons8-instagram.svg" alt="icons8-instagram">
            </div>
        </div>
        <div class="footer-right">
            <div class="sub-right">
                <div class="sub-right-heading">Support</div>
                <div class="sub-right-content">About US</div>
                <div class="sub-right-content">Contact</div>
                <div class="sub-right-content">FAQs</div>
            </div>
            <div class="sub-right">
                <div class="sub-right-heading">Services</div>
                <div class="sub-right-content">catalogue</div>
                <div class="sub-right-content">membership</div>
            </div>
        </div>
    </div>
    
</body>
</html>
