* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ribbon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 15px;
    background-color: #AE7A5A;
    color: white;
    margin: 5px 0px;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    background-color: #D5956E;
    height: 70px;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}
.search-container img {
    width: 35px;
    margin: 0px 15px ;
    cursor: pointer;
}
.ham-container img {
    width: 40px;
    margin: 0px 15px ;
    cursor: pointer;
}

.nav-logo {
    width: 150px;
    cursor: pointer;
}

.nav-right {
    display: flex;
}

.userprofile-container img {
    height: 40px;
    margin: 0px 15px ;
    cursor: pointer;
}

.shoppingcart-container img{
    height: 40px;
    margin: 0px 15px ;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.container {
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.phone-input {
    display: flex;
    gap: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
