@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');

.intropage-container {
    display: flex;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    min-height: 600px;
    margin: 50px 0px;
    justify-content: space-evenly;
}

.intropage-content{
    display: flex;
    flex-direction: column;
    height: full;
    justify-content: center;
}

.intropage-heading {
    font-family: Koulen, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;
    line-height: 1;
}

.intropage-heading span {
    color: #D5956E;
}

.intropage-subheading {
    font-size: 20px;
    padding: 20px 0px;
}

.intro-image-container img {
    width: 700px;
    transform: translateY(-30px);
}

/* !----------- HOW IT WORKS ----------*/

.hiw-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1000px;
    flex-direction: column;
}

.hiw-heading {
    font-size: 80px;
    font-family: Kodchasan, Helvetica, sans-serif;
}

.hiw-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.hiw-content-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hiw-content-inside h1 {
    font-family: Cagliostro, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}
.hiw-content-inside p {
    font-family: Cagliostro, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 350px;
    text-align: center;
}

.hiw-content-img {
    width: 200px;
    transition: all 0.5s;
}

.hiw-content-img:hover {
    transform: scale(1.2);
}

/* !----------- Clothing banner ----------*/

.clothingbanner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.clothingbanner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clothingbanner-container img {
    position: relative;
    width: 100%;
    filter: brightness(40%);
}

.clothingbanner-text {
    font-family: Koulen, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    color: white;
}

.explorebtn {
    font-size: 40px;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #0062C9;
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

/* !----------- Smart outfit suggestions ----------*/

.sosugg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0px;
}

.sosugg {
    display: flex;
    align-items: center;
}

.sosugg-leftcol {
    display: flex;
    flex-direction: column;
}
.sosugg-rightcol {
    display: flex;
    flex-direction: column;
}

.sosugg-leftcol img {
    width: 600px;
    margin: 20px;
}
.sosugg-rightcol img {
    width: 600px;
    margin: 20px;
}
.sosugg-rightcol h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 50px 20px;
    font-size:  60px;
}

/* !------------------------MEMBERSHIP TIERS----------------- */

.memtiers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.memtiers-heading {
    font-size: 60px;
    font-family: Koulen, sans-serif;
}
.memtier-cards-wrapper {
    display: flex;
}

.memtier-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.memtier-cards img{
    width: 300px;
    transition: filter 0.5s;
    cursor: pointer;
}

.memtier-cards img:hover {
    filter: brightness(50%);
}

.memtier-cards-name {
    font-size: 30px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* !---------------PAYMENT METHODS-------------- */

.paymentmethods-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.paymentmethods-heading {
    font-size: 80px;
    font-family: Kodchasan, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 60px;
}

.paymentmethodimgs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}