@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.ribbon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 12px;
    background-color: #AE7A5A;
    color: white;
    margin: 5px 0px;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.navbar-container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    background-color: #D5956E;
    height: 60px;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}
.search-container img {
    width: 25px;
    margin: 0px 15px ;
    cursor: pointer;
}
.ham-container img {
    width: 30px;
    margin: 0px 15px ;
    cursor: pointer;
}

.nav-logo {
    width: 150px;
    cursor: pointer;
}

.nav-right {
    display: flex;
}
.heart-icon {
    fill: none;
    stroke: black;
    stroke-width: 1;
    height: 30px;
    margin: 0px 15px ;
    cursor: pointer;
}

.counter-badge {
    position: absolute;
    color: black,
    border-radius 50%;
    font-size: 15px;
    min-width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 307px;
    top: 10px;
    
}

.userprofile-container img {
    height: 30px;
    margin: 0px 15px ;
    cursor: pointer;
}

.shoppingcart-container img{
    height: 30px;
    margin: 0px 15px ;
    cursor: pointer;
}