* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #243441;
    margin: 0;
    padding: 0;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    min-height: 100vh;
}

.quiz-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1100px;
    font-size: 15px;
}

h2 {
    margin-bottom: 1rem;
    color: #243441;
}

p {
    color: #666;
    margin-bottom: 2rem;
}

.question {
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

.checkbox-container {
    display: flex;
    gap: 20px; /* Space between the two columns */
}

.column {
    flex: 1; /* Make each column take equal width */
}

.column input[type="checkbox"] {
    margin-right: 5px;
}

.column label {
    margin-bottom: 5px;
    display: inline-block;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 0.5rem;
}

select,
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    padding-right: 1.5rem;
    font-size: 15px;
}

button.submit-btn {
    padding: 0.75rem 1.5rem;
    background-color: #ff9e80;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 2rem;
    display: block;
    width: 100%;
}

button.submit-btn:hover {
    background-color: #ff7043;
}